@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  background-color: #14141b;
}

@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: white;
    transition: background-color 9999s ease-in-out 0s;
  }
}